.dating-request-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 114px);
    width: 100vw;
    gap: 80px;
    padding: 0px 40px 0px 30px;
}

.dating-request-card .question-title{
    text-align: center;
    font-size: 80px;
    text-shadow: 3px 3px 4px #fff;
}

.dating-request-card .reply{
    display: flex;
    gap: 30px;
}

.dating-request-card .reply-btn{
    cursor: pointer;
    padding: 10px;
    font-size: 25px;
    border-radius: 50px;
    z-index: 1;
}

.card-yes{
    border-radius: 10px;
    z-index: 1;
}

.card-yes p{
    font-size: 20px;
    text-align: center;
    padding: 30px;
}

@media(max-width: 900px){
    .dating-request-card{
       gap: 50px;
    }

    .dating-request-card .question-title{
        font-size: 50px;
    }
    
    .dating-request-card .reply-btn{
        font-size: 18px;
    }
}

@media(max-width: 510px){
    .dating-request-card{
       gap: 40px;
    }

    .dating-request-card .question-title{
        font-size: 35px;
    }
    
    .dating-request-card .reply-btn{
        font-size: 12px;
    }

    .card-yes p{
        font-size: 12px;
    }
}